{
    "root": true,
    "extends": "airbnb",
    "env": {
        "browser": false,
        "node": true,
        "commonjs": true
    },
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "max-len": [2, 120, 2, {
            "ignoreUrls": true,
            "ignoreComments": false
        }]
    }
}
